[SddmGreeterTheme]
Name=Elegant Void Linux
Description=An elegant SDDM theme for Void Linux.
License=CC-BY-SA
Type=sddm-theme
Version=1.0
Screenshot=screenshot.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Theme-Id=elegant-voidlinux
Theme-API=2.0
